@import 'variables.scss';
@import 'mixins.scss';

@import 'fonts.scss';
@import 'colors.scss';

@import 'layout/main.scss';
@import 'layout/header.scss';
@import 'layout/footer.scss';
@import 'layout/utils.scss';

@import 'components/busStopInfo.scss';
@import 'components/clockWithDateHorizontal.scss';
@import 'components/portraitClock.scss';
@import 'components/headingInfo.scss';
@import 'components/busInfo.scss';
@import 'components/nextBuses.scss';
@import 'components/nextBus.scss';
@import 'components/berth.scss';
@import 'components/busInfoMessage.scss';
@import 'components/destinationCard.scss';
@import 'components/tag.scss';
@import 'components/instructionCard.scss';
@import 'components/busCard.scss';
@import 'components/destinationWithMultiTags.scss';
@import 'components/stationWithTags.scss';
@import 'components/carousel.scss';
@import 'components/advisories.scss';
@import 'components/destinationBusStop.scss';
@import 'components/image.scss';
@import 'components/quickestWay.scss';
@import 'components/legend.scss';

@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
  display: none;
}
.phx-disconnected * {
  pointer-events: none;
  display: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ticker {
  0% {
    margin-left: 100%;
  }
  100% {
      margin-left: -100%;
  }
}

@keyframes waypoint-ticker {
  0% {
    margin-left: 100%;
  }
  100% {
      margin-left: -100%;
  }
}

/* All types of layouts should be added here to get slide in animation */
.slide-in {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.fade-in {
  animation: 2s ease-out 0s 1 fadeIn;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none !important;
}

body {
  background-color: #3d3d3d;
  overflow: hidden;
}

.predictions-wrapper {
  min-height: 788px;
}

.bus-feature-icon {
  height: 50px;
  padding: 2px 5px;
}

.landscape .predictions-two-column {
  min-height: 1460px;
}

.m-top-component {
  margin-top: 13px; 
}

.debug section {
  margin: 10px;
  .pl20 {
    padding-left: 20px;
  }
}

.poi-wrapper {
  overflow: hidden;
  white-space: nowrap;
  height: 40px;
  img {
    padding-right: 10px;
    height: 30px;
  }
}

.next-bus {
  .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 18px;
    border-bottom-left-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    background: $offWhite;
    color: $charcoal;
  }
}

.waypoint-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .waypoint {
    display: flex;
    font-size: 26px;
    height: 55px;
    overflow: hidden;

    &:first-child {
      padding: 0px;
    }

    img {
      margin-top: 8px;
      padding: 0 10px;
      height: 21px;
    }
  }
}

.landscape {

  .incoming-buses {
    justify-content: flex-start;

    .incoming-bus-header {
      display: flex;
    }

    .bus-card:not(:last-child) {
      margin-right: 30px;
    }
  }

  .advisory-content {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .legend {
    position: absolute;
    top: 1930px;
    width: 1850px;
  }
}

.portrait {
  .incoming-buses {
    justify-content: flex-start;

    .bus-card:not(:last-child) {
      margin-right: 82px;
    }
  }

  .advisories-container {
    position: absolute;
    top: 3100px;
    width: 2048px;
  }

  .legend {
    position: absolute;
    top: 3570px;
    width: 2048px;
  }
}

.advisories-container {
  overflow: hidden;
}

.advisory-content {
  display: inline-block;
  white-space: nowrap;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: ticker;
  animation-play-state: running;
  width: 100%;
  margin-left: 100%;
}
