/* This file is for your main application css. */
/* @import "./phoenix.css" */
/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

/*

@import "./fonts";
@import "./layout/wrapper";

@import "./components/busStop";
@import "./components/busInfo";
@import "./components/nextBuses";
@import "./components/clock";
@import "./components/tag";
@import "./components/cards";

*/

@import "tiny-slider/dist/tiny-slider.css";
@import "./default.css";

@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  /* Full page wrapper */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

body {
  background-color: #3d3d3d;
}
