.white {
  color: #fff !important;
}

.red {
  color: #eea2a1 !important;
}

.orange {
  color: #ffb39b !important;
}

.yellow {
  color: #ffe594 !important;
}

.green {
  color: #bbefc8 !important;
}

.blue {
  color: #81d9eb !important;
}

.lilac {
  color: #d6a4df !important;
}
