.text-white {
  color: #fff !important;
}

.text-red {
  color: #eea2a1 !important;
}

.text-orange {
  color: #ffb39b !important;
}

.text-yellow {
  color: #ffe594 !important;
}

.text-green {
  color: #bbefc8 !important;
}

.text-blue {
  color: #81d9eb !important;
}

.text-lilac {
  color: #d6a4df !important;
}
