.advisories-container {
  color: #fff;
  border-radius: 25px;

  .heading {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    text-transform: uppercase;
  }

  .heading-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    h1 {
      margin: 0;
      text-align: center;
    }
  }
}

.landscape {
  .advisories-container {
    margin-top: 132px;
    border: 6px solid #565656;
    border-radius: 25px;
    color: #fff;

    .heading-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      padding: 30px 0 0 0;

      h1 {
        font-size: 55px;
        line-height: 67px;
        margin: 0;
        width: 100%;
        text-align: center;
      }

      .heading {
        background: #565656;
        border-radius: 25px 0 70px 25px;
        width: 389px;
        height: 101px;
        padding: 30px 25px;
        left: -3px;
        top: -3px;
      }

      .tags {
        padding-left: 429px;
      }
    }

    .advisory-content {
      font-size: 50px;
      line-height: 65px;
      padding: 36px 48px 12px 48px;
    }
  }
}

.portrait {
  .advisories-container {
    margin-top: 80px;
    border: 3px solid #565656;

    .heading {
      background-color: $charcoal;
    }

    .heading-wrapper {
      padding: 12px 0 0 0;

      h1 {
        font-size: 27.5px;
        line-height: 33.5px;
      }

      svg {
        margin-right: 8px;
        width: 19px;
      }

      .tags {
        padding-left: 290px;
      }
    }

    .heading-wrapper .heading {
      width: 275px;
      border-radius: 12.5px 0 35px 12.5px;
      padding: 9.5px 20px 15px;
      height: 56.5px;
    }

    .advisory-content {
      font-size: 25px;
      line-height: 32.5px;
      padding: 19.5px 24px;
    }
  }
}
