.portrait {
  .berth {
    width: 182px;
    height: 250px;
    background-color: #9ABEAA;
    margin-right: 20px;
    color: #303030;
    font-weight: bold !important;
    line-height: 234px;
    font-size: 72px;
    @include letter-spacing(20);
    text-align: center;
  }
}

.landscape {
  .berth {
    width: 163px;
    height: 225px;
    background-color: #9ABEAA;
    margin-right: 10px;
    color: #303030;
    font-weight: bold !important;
    line-height: 209px;
    font-size: 72px;
    @include letter-spacing(10);
    text-align: center;
  }
}
