.bus-card {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
  padding: 0;

  &.arriving {
    .status {
      color: #eee;
      background: transparent;
    }
  }

  .status {
    text-align: center;
    background: #565656;
    color: #fff;
  }

  .incoming-bus-card {
    position: absolute;
  }

  .number {
    text-align: center;
    font-weight: bold;
    color: #303030;
  }
}

.incoming-bus-card {
  position: absolute;
  background-color: #eee;
  color: #303030;
  text-transform: uppercase;
}

.landscape {
  .bus-card {
    &.arriving {
      .status {
        border: 6px solid #eee;
      }
    }

    .status {
      height: 100px;
      width: 314px;
      border-radius: 25px;
      font-size: 56px;
      line-height: 100px;
      margin-bottom: 30px;
      border: 6px solid #565656;
    }

    .number {
      width: 314px;
      height: 165px;
      line-height: 165px;
      border-radius: 12.5px;
      font-size: 80px;
      font-weight: bold;
      background-image: url('/images/landscape-incoming-bus.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 1px 0;
    }
  }

  .incoming-bus-card {
    top: -70px;
    left: -4px;
    border-radius: 12.5px 12.5px 0 0;
    font-size: 46px;
    line-height: 56px;
    padding: 7px 32px;
  }
}

.portrait {
  .bus-card {
    &.arriving {
      .status {
        border: 3px solid #eee;
        font-size: 31px;
        line-height: 44px;
      }
    }

    .status {
      height: 50px;
      width: 162.5px;
      border-radius: 12.5px;
      font-size: 31px;
      line-height: 50px;
      margin-bottom: 16.5px;
    }

    .number {
      width: 162.5px;
      height: 60px;
      line-height: 60px;
      border-radius: 12.5px;
      @extend .portrait-bg-green;
      font-size: 40px;
    }
  }

  .incoming-bus-card {
    top: -35px;
    left: -2px;
    border-radius: 12.5px 12.5px 0 0;
    font-size: 21px;
    line-height: 25.5px;
    padding: 4.25px 17px;
  }
}
