.bus-info-message {
  width: 1436px;
  height: 225px;
  font-size: 54px;
  line-height: 65px;
  border-radius: 0 35px 35px 0;
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.dark {
  .bus-info-message {
    background-color: $charcoal;
    color: #fff;
  }
}

.portrait {
  .bus-info-message {
    width: 812px;
    height: 125px;
    font-size: 30px;
    border-radius: 0 25px 25px 0;
    padding: 0 29px;
  }
}
