.bus-stop-info {
  height: 113px;
  border-radius: 25px;
  background-color: $green;
  position: relative;
  overflow: hidden;

  .bus-stop-name,
  .bus-stop-number {
    line-height: 113px;
    font-size: 60px;
  }

  .bus-stop-number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 325px;
    color: #fff;
    padding: 0 50px;
    background-color: $teal;
    border-radius: 0 0 60px 0;
    @include letter-spacing(50);
    font-weight: bold;
  }

  .bus-stop-name {
    font-weight: normal;
    color: $text-dark-1;
  }
}

.portrait {
  .bus-stop-info {
    padding-left: 180.5px;
    width: 100%;
    margin-bottom: 25px;
    height: 56.5px;
    border-radius: 12.5px;

    .bus-stop-number {
      width: 162.5px;
      padding: 0 25px;
    }

    .bus-stop-name,
    .bus-stop-number {
      line-height: 56.5px;
      font-size: 30px;
    }
  }
}
