.landscape {
  .destination-bus-stop {
    width: 693px;
    height: 225px;
    border-radius: 0 35px 35px 0;
    padding: 24px 36px;
    margin-right: 1px;

    p {
      font-size: 50px;
      line-height: 60px;
      color: #fff;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .tags {
      margin-bottom: 26px;
    }

    .tag {
      width: 90px;
      height: 36px;
      font-size: 27px;
      line-height: 36px;
      padding: 0 19px;
    }

    .text {
      font-size: 38px;
      line-height: 46px;
    }
  }
}

.portrait {
  .destination-bus-stop {
    width: 772px;
    height: 250px;
    border-radius: 0 35px 35px 0;
    padding: 26px 40px;

    p {
      font-size: 50px;
      line-height: 60px;
      color: #fff;
      margin-top: 0;
      margin-bottom: 11px;
      font-weight: bold;
    }

    .tags {
      margin-bottom: 29px;
    }

    .tag {
      width: 100px;
      height: 40px;
      font-size: 30px;
      line-height: 40px;
      padding: 0 21px;
    }

    .text {
      font-size: 38px;
      line-height: 46px;
    }
  }
}
