.next-bus {
  @apply border-charcoal border-r-3 border-b-3 border-t-3 border-solid relative pl-3rem pr-2rem rounded-br-50;

  &.highlighted {
    @apply bg-offWhite border-offWhite;

    .label {
      @apply text-darkMode;
    }
  }
}

.next-bus .indicator {
  width: 10px;
  height: calc(100% + 6px);
  top: -3px;
  @apply absolute left-0;
}

.next-bus svg {
  @apply h-4rem;
}

.next-bus.small {
  @apply flex flex-col w-1/4 py-1rem;
}

.next-bus .label {
  @apply text-white;
}

.next-bus.small .label {
  @apply text-6rem font-medium leading-none;
}

.next-bus.small svg {
  @apply mt-1rem;
}

.next-bus.no-icon .label {
  @apply font-bold;
}

.next-bus.big {
  @apply flex flex-row justify-between items-center w-1/2;
}

.next-bus.big .label {
  @apply text-8rem font-bold w-4/5;
}

.next-buses {
  @apply flex flex-col w-full justify-between;
}

.next-buses .stops {
  @apply bg-charcoal rounded-br-25 text-4rem text-white pl-5rem pr-3rem inline-block leading-none py-0.5rem;
}

.next-buses .details {
  @apply flex flex-row overflow-hidden;
}
