.tag {
  height: 40px;
  line-height: 64px;
  font-size: 48px;
  border-radius: 10px;
  text-transform: uppercase;

  + .tag {
    margin-left: 10px;
  }
}

.dark {
  .tag {
    color: #fff;
  }
}

.portrait {
  .tag {
    height: 54px;
    font-size: 41px;
    line-height: 54px;
  }
}
