.tag {
  color: #fff;
  text-transform: uppercase;
}

.landscape {
  .tag {
    min-width: 116px;
    height: 48px;
    padding: 0 25px;
    line-height: 48px;
    font-size: 36px;
    border-radius: 10px;

    + .tag {
      margin-left: 10px;
    }
  }
}

.portrait {
  .tag {
    min-width: 64.5px;
    height: 27px;
    font-size: 20.5px;
    line-height: 27px;
    padding: 0 15.625px;
    border-radius: 5px;

    + .tag {
      margin-left: 5px;
    }
  }
}
