.incoming-buses {
  margin-top: 53px;
}

.portrait {
  .incoming-buses {
    position: relative;
    border: 4px solid #eee;
    border-radius: 0 25px 25px 25px;
    padding: 60px 50px 50px;
    height: 363px;
    margin-top: 143px;
  }
}
