body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;

  .dark {
    background-color: $dark;
  }

  * {
    box-sizing: border-box;
  }

  .content-wrapper {
    padding: 50px 50px 0;

    .container {
      display: flex;

      &.two-columns {
        .column {
          width: 1845px;

          &.left-column {
            margin-right: 25px;
          }

          &.right-column {
            margin-left: 25px;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.landscape {
  width: 3840px;
  height: 2160px;

  .row-odd {
    .next-bus,
    .destination-bus-stop,
    .bus-info-message,
    .group-info .left-info,
    .group-info .right-info {
      background-color: #565656;
    }
  }

  .row-even {
    .next-bus,
    .destination-bus-stop,
    .bus-info-message,
    .group-info .left-info,
    .group-info .right-info {
      background-color: #3d3d3d;
    }
  }

  .is-visible-in-landscape {
    display: block;
  }

  .is-visible-in-portrait {
    display: none;
  }

  .mb-row {
    margin-bottom: 20px;
  }

  .container .quickest-way {
    margin-top: 0px;
    position: absolute;
    top: 810px;
  }

  .multimedia {
    position: absolute;
    top: 1130px;
    width: 1850px;

    &.one-pane {
      top: 150px;
      width: 3800px;
    }
  }

  .container .advisories-container {
    position: absolute;
    top: 1650px;
    width: 1835px;
  }

  .incoming-buses {
    position: absolute;
    top: 150px;
  }

  .next-buses .next-bus .bus-info-landscape {
    padding: 55px 0;
  }
  
}

.portrait {
  width: 2160px;
  height: 3840px;

  .row-odd {
    .next-bus,
    .destination-bus-stop,
    .bus-info-message,
    .group-info .left-info,
    .group-info .right-info {
      background-color: #565656;
    }
  }

  .row-even {
    .next-bus,
    .destination-bus-stop,
    .bus-info-message,
    .group-info .left-info,
    .group-info .right-info {
      background-color: #3d3d3d;
    }
  }

  &.dark {
    .next-bus {
      .label {
        font-size: 117px;
        line-height: 111px;
      }
    }
  }

  .next-buses .next-bus .bus-info-landscape {
    padding: 55px 0;
}
}

.grid-row-7 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, auto);    
}