.bg-red {
  background-color: $red;
}

.bg-yellow-1 {
  background-color: $yellow1;
}

.bg-green-1 {
  background-color: $green1;
}

.bg-brown {
  background-color: $brown;
}

.bg-charcoal {
  background-color: $charcoal;
}
